*
    {
    padding: 0;
    margin:0;
}

 ul {
     list-style-type: none;
     background-color: black;
     overflow: hidden;
     z-index: 1;
}

 li {
     float: left;
}

 li a {
     display: block;
     color: goldenrod;
     text-align: center;
     padding: 14px 15px;
     text-decoration: none;
}

li a:hover{
    background-color: dimgray;
    color: white;
}


.table {
    position: absolute;
    margin-left: 200px;
    margin-right: 300px;
    margin-top: 50px;
    width: 100px;
    height: 100px;
    border-color: aqua;
    background-size: cover;
}
.table1 {
    position: absolute;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 20px;
    width: 500px;
    height: 300px;
    border-color: blue;
    background: gray;
}

.tda {
    text-decoration: none;
}

td {
    text-decoration: none;
    text-align: center;
}

.td1 {
    margin-top:100px; 
}

.p {
    background-color: black;
    height: 400px;
}
